<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Happy birthday </title>
    <style>
        body{
            background-color: aqua;
        }
a{
    background-color: yellow;
}





    </style>

</head>
<body>
<h1><center> Poornima collage of enginnering</center></h1>


<h2>Happy birthday {{Name }} </h2>
<p>Enjoy your day</p>
<a href="https://www.linesdesignsandletters.com/?gclid=Cj0KCQjwjcfzBRCHARIsAO-1_OoPWIwwNyiEB4yO6LpHnLobEe2Kq2GMnpV5IMw5B-mBVJ_FcWqx4mAaAos2EALw_wcB">For more click here</a>


</body>
</html>